body {
  background-image: url("https://img.myloview.com/stickers/lord-rama-illustration-artwork-hindu-god-ram-digital-paint-700-219851707.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: flex-start; /* Align container to the left */
  align-items: flex-start; /* Align container items to the top */
  height: 100vh; /* Set container height to the full viewport height */
}

.text-overlay {
  color: white;
  text-align: left; /* Align text to the left */
}

h1, h2, h3 {
  margin: 0; /* Remove any default margin */
  text-align: left; /* Align headings to the left */
}

ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
  text-align: left; /* Align list items to the left */
}

.contact-buttons {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  padding-left: 0; /* Remove default padding */
}

.contact-buttons li {
  margin: 0 10px; /* Add spacing between buttons */
}



.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  img {
    width: 1920px;
    height: 1080px;
    border-radius: 50%;
  }
  
  h1 {
    margin-top: 200px;
  }
  
  h2 {
    margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  